<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
		<string>en</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1354712179265493</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1354712179265493</string>
	<key>FacebookClientToken</key>
	<string>3c310611614999b7ba516179bb7a94fd</string>
	<key>FacebookDisplayName</key>
	<string>GetRide</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>googlegmail</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoCondensed-Regular.otf</string>
		<string>SFUIDisplay-Medium.ttf</string>
		<string>SFUIDisplay-Regular.ttf</string>
		<string>SFUIDisplay-Light.ttf</string>
		<string>SFUIDisplay-Thin.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
</dict>
</plist>
